@use '../abstracts/' as *;

.button:not([data-variant='window'], [data-variant='null']) {
    @include create-button();
}

.button[data-variant='control'] {
    @include create-button(
        $background: $button-control-background,
        $color: $button-control-color,
        $background-on-hov: $button-control-background-on-hov,
        $color-on-hov: $button-cotrol-color-on-hov,
        $border-radius: 100vw,
        $padding: 0.45em 0.6em
    );

    &:is(:active) {
        transform: scale(1.05);
    }
}

.button[data-variant='close'] {
    @include create-button(
        $background: $button-background-close,
        $background-on-hov: $button-background-close-hover,
    );
}

.button[data-variant='window'] {
    @include create-window-button(
        $width: 10px, 
        $background: $button-background-close,
        $background-on-hov: $button-background-close-hover,
    );
}

.button[data-secondary-variant='resizer'] {
    @include create-window-button(
        $width: 16px, 
        $background: $button-background-default,
        $background-on-hov: $button-background-default,
    );

    border-top-left-radius: 100vw;;
}