$colors-dark: (
   background: (
      '300': hsl(210 13% 2%),
      '400': hsl(210 13% 6%),
      '500': hsl(210 13% 12%),
   ),

   text: (
    '400': white,
    'muted': hsl(0 0 68%),
    'muted-hov': hsl(0 0 50% / 0.24),
   ),

   active: (
      '300': hsl(212 100% 44%),
      '400': hsl(212 100% 57%),
      'hover': hsl(212 100% 47% / 0.24)
   ),

   close: (
      '400': hsl(0 86% 51%),
      '500': hsl(0 86% 58%),
   ),

   input: (
      'border': hsl(0 0 78% / 0.38),
      'border-color': hsl(220 97% 45%),
      'shadow': hsl(220 97% 45% / 0.36),
   )
);

$active-theme: $colors-dark;