$colors-dark: (
   background: (
    '400': hsl(210 13% 6%),
    '500': hsl(210 13% 12%),
   ),

   text: (
    '400': white,
    'muted': hsl(0 0 68%),
    'muted-hov': hsl(0 0 50% / 0.24),
   ),

   active: (
      '400': hsl(212 100% 57%),
      'hover': hsl(212 100% 47% / 0.24)
   ),

   close: (
      '400': hsl(0 86% 51%),
      '500': hsl(0 86% 58%),
   )
);

$active-theme: $colors-dark;