@use './tokens' as *;

@mixin pseudo-element($content: '') {
    content: $content;
    position: absolute;
}

@mixin create-button(
    $padding: $button-padding-default,
    $background: $button-background-default,
    $color: $button-color-default,
    $border-radius: $button-border-radius-default,
    $background-on-hov: $button-background-default,
    $color-on-hov: $button-color-default,
    $transition: $button-transition-default
) 
{
    padding: $padding;
    background-color: $background;
    color: $color;

    border-radius: $border-radius;

    letter-spacing: 1px;

    transition: $transition;

    &:is(:hover, :active, [data-active='true']) {
        background-color: $background-on-hov;
        color: $color-on-hov;
    }
}

@mixin create-window-button(
    $width,
    $background,
    $background-on-hov
) 
{
    @include create-button(
        $background: $background,
        $background-on-hov: $background-on-hov,
        $padding: $buttonWindow-padding,
    );

    width: $width;
    aspect-ratio: 1;
}