@use '../abstracts/' as *;

.comms-user {
    background-color: $commsUser-background;
    padding: $commsUser-padding-resp;

    .user__profile {
        width: $userProfile-width-resp;

        background-color: black;
        aspect-ratio: 1;
    }
}