@use '../abstracts/' as *;

.comms-user {
    background-color: $commsUser-background;

    .user__video {
        width: $userVideo-width-resp;

        background-color: black;
        aspect-ratio: 16 / 9;
    }
}